<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=localhost;Initial Catalog=alloy.cms;Connection Timeout=60;Integrated Security=false;User ID=sa;Password=Levo@123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  <add name="EPiServerDB_sql_test" connectionString="Data Source=.\SQLEXPRESS;Database=EPiServerLocalHeadTest;User Id=episerverlocalHeadtest;Password=epi#Server7LocalTest;Network Library=DBMSSOCN;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>